body {
    display:flex;
    align-items:center;
    justify-content:center;
}

main {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(#fffa00 0 15%, #ff0000 15% 85%, #fffa00 85% 100%);
    width: 80vw;
    height: 15vh; 
}

#drzwi {
    min-height: 15vh;
    width: 20vw;
    /* background: linear-gradient(#f69d3c, #3f87a6); */
}

#okno {
    min-height: 1vh;
    min-width: 5vw;
    /* background: linear-gradient(#f69d3c, #3f87a6); */
}

.tyl {
  width: 10vw;
  height: 15vh;
  background: linear-gradient(#fffa00 0 15%, #ff0000 15% 85%, #fffa00 85% 100%);
  clip-path: polygon(0 0, 100% 80%, 0 100%);
}

.przod {
  width: 10vw;
  height: 15vh;
  background: linear-gradient(#fffa00 0 15%, #ff0000 15% 85%, #fffa00 85% 100%);
  /* Trójkąt skierowany w lewo: prawa góra -> lewy środek -> prawy dół */
  clip-path: polygon(100% 0, 0 80%, 100% 100%);
}
